---

---

<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text text-textColor">Aplicar todos los filtros</span>
    <input type="checkbox" checked="checked" class="checkbox ml-1" />
  </label>
</div>
