---
import Container from "@components/Container.astro";
import TableSection from "./TableSection";
import Filter from "./Filter";
---

<Container className="py-4">
  <h2
    class="text-primary text-center md:text-left font-bold text-4xl leading-tight py-4"
  >
    Catálogo y Descarga
  </h2>

  <Filter client:load />
  <aside class="bg-primary rounded-lg">
    <h2
      class="text-white text-center md:text-left font-bold text-2xl leading-tight p-4"
    >
      Resultados de busqueda
    </h2>
    <TableSection client:load />
  </aside>
</Container>
