---

---

<select
  class="select w-full select-border border-subTitle text-textColor bg-Fondo max-w-xs"
>
  <option disabled selected>Creado</option>
  <option>2024/05/13</option>
  <option>2024/05/09</option>
</select>
