---

---

<select
  class="select w-full select-border border-subTitle text-textColor bg-Fondo max-w-xs"
>
  <option disabled selected>Formato</option>
  <option>GeoJSON</option>
  <option>PostGIS</option>
</select>
