---
import Container from "@components/Container.astro";
import Card from "@components/home/Card.astro";
import Img1 from "@assets/images/Docs/1.webp";
import Img2 from "@assets/images/Docs/2.webp";
import Img3 from "@assets/images/Docs/3.webp";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<Container className=" py-4">
  <h2
    class="text-primary text-center font-bold text-4xl leading-tight py-4 md:text-left"
  >
    Documentación
  </h2>
  <main class="p-4">
    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 rounded-xl p-6"
    >
      <Card
        title={"Documentos"}
        src={Img1}
        ruta={translatePath("/DOC/documentos")}
      />
      <Card
        title={"Manuales"}
        src={Img2}
        ruta={translatePath("/DOC/manuales")}
      />
      <Card
        title={"Preguntas Frecuentes"}
        src={Img3}
        ruta={translatePath("/DOC/faq")}
      />
    </section>
  </main>
</Container>
