---
import Container from "@components/Container.astro";
import Files from "./Files.astro";
---

<Container className=" py-4">
  <h2 class="text-primary text-center font-bold text-4xl leading-tight pt-4">
    Documentación
  </h2>
  <main class="p-4">
    <section
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 rounded-xl p-6"
    >
      <Files />
      <Files />
      <Files />
      <Files />
      <Files />
      <Files />
      <Files />
      <Files />
      <Files />
    </section>
  </main>
</Container>
