---
import Navbar from "./Navbar.astro";
import Intro from "@components/common/Intro.astro";
import Container from "./Container.astro";
---

<section
  class="h-auto relative bg-heroMain bg-cover bg-no-repeat w-auto lg:bg-contain lg:bg-fixed"
>
  <Container className="pb-10">
    <Navbar />
    <Intro />
  </Container>
</section>
