---
import Navbar from "./Navbar.astro";
import Intro from "@components/home/Intro.astro";
import Container from "./Container.astro";
---

<section
  class="h-auto z-50 relative bg-heroMain bg-cover bg-no-repeat bg-center w-auto lg:bg-fixed"
>
  <Container className="pb-10">
    <Navbar />
    <Intro />
  </Container>
</section>
