---
import Navbar from "./Navbar.astro";
import Intro from "@components/home/Intro.astro";
import Container from "./Container.astro";
---

<section class="h-auto relative bg-heroMain bg-cover bg-blend-screen w-auto">
  <Container className="pb-10">
    <Navbar />
    <Intro />
  </Container>
</section>
