---
import Navbar from "./Navbar.astro";
---

<section
  class="bg-cover bg-center bg-no-repeat h-screen relative bg-heroMain w-full lg:bg-fixed"
>
  <div class="">
    <Navbar />
  </div>
</section>
