---
interface Props {
  subT: string;
}
const { subT } = Astro.props;
---

<h5
  class="font-semibold text-Azul border-b-2 border-SoftBlue/20 text-2xl text-pretty uppercase tracking-wide"
>
  {subT}
</h5>
