---
import { Image } from "astro:assets";
import logo from "@assets/logoblancoj.webp";
import logoeu from "@assets/unioneu.webp";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { getI18N } from "@i18n/index";
const { title, nav1, nav2, nav3, nav4, subTitle, descTitle } = i18n.Navbar;
---

<div
  class="flex w-full lg:w-auto items-center justify-between lg:justify-between p-5"
>
  <h1 class="text-3xl flex items-center" style="color: white;">
    {subTitle}
  </h1>
</div>
<div class="flex w-full lg:w-auto items-center flex-start lg:flex-start p-5">
  <div class="linea-amarilla"></div>
  <h1 class="text-1xl flex items-center" style="color: white;">
    {descTitle}
  </h1>
</div>
<div class="flex w-full lg:w-auto items-center flex-start lg:flex-start">
  <Image
    alt="Navbar Logo"
    quality="low"
    format="avif"
    src={logo}
    class="xl:w-1/1 md:block flex sm:w-1/6 sm:mx-auto xl:mx-0"
  />
  <p style="color: white;">
    Ayuntamiento<br />
    de Jerez<br />
  </p>
  <p
    style="color: white;  font-size: smaller; text-align: right;padding-right: 10px;"
  >
    Unión Europea<br />
    Fondo Europeo <br />
    de Desarrollo Regional<br />
    “Una manera de hacer Europa”
  </p>
  <Image
    alt="Navbar Logo"
    quality="low"
    format="avif"
    src={logoeu}
    class="xl:w-1/1 md:block flex sm:w-1/6 sm:mx-auto xl:mx-0"
  />
</div>
<style>
  .linea-amarilla {
    width: 10px; /* Ancho de la línea */
    padding: 10px;
    /* Altura igual al contenedor */
    background-color: yellow; /* Color de la línea */
  }
</style>
