---
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="bg-gray-100">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <p class="text-4xl font-medium text-gray-800">
      Seguimos trabajando es esta sección
    </p>
    <a
      href={translatePath("/")}
      class="mt-4 text-xl text-blue-600 hover:underline">Regresar al inicio</a
    >
  </div>
</div>

<p>adipisicing elit. Voluptatum, ea!</p>

<span
  >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure inventore
  voluptatum possimus ullam, recusandae laudantium animi nulla eum eos quam ex
  ipsa saepe nostrum aut modi expedita maxime alias quae laborum voluptates
  ducimus quas ad. Obcaecati rerum consequatur eos porro voluptatem tempore
  nihil. Iure quo quae molestias qui autem repellendus quaerat, suscipit ducimus
  soluta porro aperiam! Deleniti aliquam earum doloribus saepe vero laborum modi
  incidunt libero odio numquam. Asperiores, numquam illo? Non molestiae
  consectetur exercitationem sint nesciunt ipsam, quae facere! Tempora
  repudiandae obcaecati assumenda veritatis similique deleniti nobis quam
  accusantium cupiditate magni. Culpa incidunt consequatur cumque molestiae
  animi ad alias corporis omnis voluptas, magni sapiente eum officiis iure.
  Accusamus eaque, fugit voluptas autem quis, animi eos deserunt dolor natus in
  ipsum qui consequuntur quae, corrupti commodi repudiandae ratione dignissimos
  atque expedita mollitia facilis placeat quo. Dignissimos atque voluptas
  suscipit officia aliquam minima, odit eveniet accusamus deleniti quia optio
  sed voluptatibus, cum saepe quas ex voluptatem molestias. Ad aliquid
  voluptatem ducimus, illo officiis nulla saepe sequi placeat optio ipsa iste
  nihil nobis perferendis dolores tempora provident cum facilis omnis, deleniti
  quos! Rerum nisi quod, doloremque nihil accusamus veritatis magni magnam
  officiis. Rerum non error quia dolorem soluta debitis itaque, ab delectus
  consectetur ex eaque quisquam impedit facilis id accusamus dolorum fugiat?</span
>
