---
import { getI18N } from "@i18n/index";
import CopyButton from "./CopyButton";
import IrButton from "./IrButton";
import { table } from "node_modules/astro/dist/core/logger/core";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { DirectorioContent } = i18n;
---

<section>
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-slate-200">
                <th
                  scope="col"
                  class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                >
                  <button class="flex items-center gap-x-2">
                    <span class="md:text-left">Tipo de servicio</span>
                  </button>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                >
                  <button class="flex items-center gap-x-2">
                    <span>Descripción de la capa</span>
                  </button>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                  >URL</th
                >
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {
                DirectorioContent.map((tabla) => {
                  return (
                    <tr>
                      <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                        <div
                          class={`inline-flex items-center px-3 py-1 rounded-full gap-x-2 ${tabla.title === "WMS" ? "bg-SoftBlue/30" : "bg-YellowPrimary/30"}`}
                        >
                          <h2 class="text-sm font-normal text-textColor">
                            {tabla.title}
                          </h2>
                        </div>
                      </td>
                      <td class="px-4 py-4 text-sm text-textColor ">
                        {tabla.body}
                      </td>
                      <td class="px-4 py-4 text-sm whitespace-nowrap">
                        <div class="flex items-center gap-x-6">
                          <IrButton route={tabla.url} client:load />

                          <CopyButton client:load />
                        </div>
                      </td>
                    </tr>
                  );
                })
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
