---
import Copy from "@assets/icons/Directory/Copy.astro";
import Link from "@assets/icons/Directory/Link.astro";
---

<section>
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-slate-200">
                <th
                  scope="col"
                  class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                >
                  <button class="flex items-center gap-x-2">
                    <span>Tipo de servicio</span>
                  </button>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                >
                  <button class="flex items-center gap-x-2">
                    <span>Descripción de la capa</span>
                  </button>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-textColor"
                  >URL</th
                >
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WMS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WMS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WFS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WFS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>

              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WFS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>

              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WFS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>

              <tr>
                <td
                  class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap"
                >
                  <div
                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-slate-200"
                  >
                    <h2 class="text-sm font-normal text-textColor">WFS</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-textColor whitespace-nowrap"
                  >Products Managers</td
                >
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      class="text-textColor transition-colors duration-200 hover:text-emerald-500 focus:outline-none"
                    >
                      <Link />
                    </button>

                    <button
                      class="text-textColor transition-colors duration-200 hover:text-yellow-500 focus:outline-none"
                    >
                      <Copy />
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
