---
import DirecTable from "./DirecTable.astro";
import Container from "@components/Container.astro";
---

<Container className="py-4">
  <main class="p-4 my-4">
    <h2
      class="text-primary text-center lg:text-left font-bold text-4xl leading-tight mb-6"
    >
      Directorio de servicios
    </h2>
    <DirecTable />
  </main>
</Container>
